# Include package data
recursive-include pyvis/templates *
recursive-include pyvis/templates/lib *
recursive-include pyvis/shiny *.js *.css

# Include documentation
include README.md
include LICENSE_BSD.txt
include CHANGELOG.md
include pyvis/_version.py

# Include examples and notebooks
recursive-include examples *.py
recursive-include notebooks *.ipynb *.csv *.dot

# Exclude development files
exclude .gitignore
exclude .coveragerc
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .pytest_cache
recursive-exclude .github *
recursive-exclude docs *
recursive-exclude examples *.html
recursive-exclude examples/lib *
recursive-exclude notebooks/lib *
recursive-exclude notebooks *.html
